html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: var(--main-text-color);
  background-color: var(--background-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.logo {
  color: #2196f3;
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-studio-header {
  color: #000000;
}

.logo-studio-footer {
  display: inline-block;
  margin-bottom: 20px;
  color: #ffffff;
}

.team-social-links > li,
.footer-links-list > li {
  width: 44px;
  height: 44px;
}

.social-links-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-links {
  display: flex;
  justify-content: center;
}

.social-links-item.team {
  color: #afb1b8;
}

.social-links-item.team:not(:last-child) {
  margin-right: 10px;
}

.team-social-links-icon {
  fill: currentColor;
}

.header-link:hover,
.header-link:focus,
.header-link.current,
.contact-footer:hover,
.contact-footer:focus,
.address:hover,
.address:focus {
  color: #2196f3;
}

.clients-thumb:hover,
.clients-thumb:focus {
  color: #2196f3;
  border-color: #2196f3;
}

.social-links-item.team:hover,
.social-links-item.team:focus,
.social-links-item.footer:hover,
.social-links-item.footer:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.main-heading {
  width: 696px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.section-heading {
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.sub-section-heading {
  margin-top: 0px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.team-member {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.project-heading {
  margin-top: 0;
  margin-bottom: 4px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.hero-button,
.signup-form-button {
  min-width: 200px;
  min-height: 50px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: solid 0px transparent;
  border-radius: 4px;
  padding: 10px 32px;
  text-align: center;
  color: #ffffff;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus,
.footer-submit-button:hover,
.footer-submit-button:focus,
.signup-form-button:hover,
.signup-form-button:focus,
.footer-submit-button:hover,
.footer-submit-button:focus {
  background-color: #188ce8;
  cursor: pointer;
}

.button-list-item {
  min-height: 38px;
  background-color: #f5f4fa;
  border: solid 0px transparent;
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;
  color: #212121;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-list-item:hover,
.button-list-item:focus,
.button-list-item:active {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  perspective: 1600px;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotateY(0deg);
  padding: 40px;
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5) rotateY(180deg);
}

.modal-text {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
  color: #2196f3;
  cursor: pointer;
}

.modal-close-icon {
  fill: currentColor;
}

.site-header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

.header-link {
  display: inline-flex;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  color: #212121;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.navigation {
  display: flex;
  align-items: center;
}

.site-navigation {
  margin-left: 93px;
}

.site-navigation li:not(:last-child) {
  margin-right: 50px;
}

.header-contacts {
  display: flex;
  margin-left: auto;
}

.header-contacts li:not(:last-child) {
  margin-right: 50px;
}

.contact {
  align-items: center;
  color: #757575;
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

.section.hero {
  padding: 200px 0;
  text-align: center;
  background-color: #2f303a;
}

.hero {
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.advantages {
  display: flex;
  flex-wrap: wrap;
}

.advantages .item {
  width: 270px;
}

.advantages .item:not(:last-child) {
  margin-right: 30px;
}

.advantages-thumb {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.examples {
  padding-top: 0px;
}

.example-photos-thumb {
  position: relative;
  width: 370px;
  height: 294px;
}

.example-photos-description {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  text-transform: uppercase;
  color: #ffffff;
}

.example-photos-list {
  display: flex;
}

.example-photos-list li:not(:last-child) {
  margin-right: 30px;
}

.section.team {
  background-color: #f5f4fa;
}

.team-members-list {
  display: flex;
}

.team-members-list p {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
}

.team-member-card {
  min-width: 270px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-member-card:not(:last-child) {
  margin-right: 30px;
}

.team-member-card .description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.clients-list {
  display: flex;
}

.clients-list li {
  width: 170px;
  height: 92px;
}

.clients-list li:not(:last-child) {
  margin-right: 30px;
}

.clients-thumb {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon {
  fill: currentColor;
}

.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-list > li:not(:last-child) {
  margin-right: 8px;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
}

.projects-list-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.projects-list-thumb {
  position: relative;
  overflow: hidden;
}

.projects-list-link {
  display: block;
  text-decoration: none;
  color: inherit;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-list-overlay {
  position: absolute;
  transform: translateY(100%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 294px;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-list-link:hover,
.projects-list-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-list-link:hover .projects-list-overlay,
.projects-list-link:focus .projects-list-overlay {
  transform: translateY(-100%);
}

.projects-list-item:nth-child(3n) {
  margin-right: 0px;
}

.projects-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.projects-list-description {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.projects-list-description p {
  font-size: 16px;
  line-height: 1.87;
}

.site-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.container.footer {
  display: flex;
}

.footer-contacts {
  margin-right: 70px;
}

.footer-social-links {
  margin-top: 12px;
  margin-right: 93px;
}

.footer-social-links > p,
.footer-subscription > p {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-links-list {
  display: flex;
}

.footer-links-list > li:not(:last-child) {
  margin-right: 10px;
}

.footer-address li:not(:last-child) {
  margin-bottom: 9px;
}

.contact-footer {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address {
  color: #ffffff;
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-item.footer {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-subscription-form {
  margin-top: 12px;
}

.footer-subscription-field {
  display: flex;
}

.footer-subscription-label {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-email-input {
  height: 50px;
  width: 358px;
  margin-right: 12px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2f303a;
  color: #ffffff;
  font-size: 20px;
  line-height: 1.25;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-email-input:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.footer-email-input::placeholder {
  margin-right: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.footer-submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  min-height: 50px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: solid 0px transparent;
  border-radius: 4px;
  color: #ffffff;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-submit-icon {
  margin-left: 10px;
  fill: #ffffff;
}

.signup-form-field {
  margin-bottom: 10px;
}

.signup-form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
}

.signup-wrap {
  position: relative;
}

.signup-form-input {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  padding-right: 15px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.signup-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.signup-comment-field {
  position: relative;
  display: block;
  margin-bottom: 20px;
}

.signup-form-comment {
  padding: 12px 16px;
  height: 120px;
  width: 100%;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.signup-form-input:focus,
.signup-form-comment:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.signup-form-input:focus + .signup-form-icon {
  fill: #2196f3;
}

.form-policy-field {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.policy-checkbox-default {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.policy-checkbox-custom {
  width: 16px;
  height: 15px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #000000;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-checkbox-default:checked + .policy-checkbox-custom {
  background-color: #2196f3;
  border-color: #2196f3;
}

.signup-policy-label {
  line-height: 1.71;
}

.signup-policy-label > a {
  color: #2196f3;
}

.signup-form-button {
  display: block;
  margin: 0 auto;
}
/*# sourceMappingURL=main.css.map */