.header-contacts {
  display: flex;
  margin-left: auto;
  li:not(:last-child) {
    margin-right: 50px;
  }
}

.contact {
  align-items: center;

  color: $contact-header-color;
}
.contact-icon {
  margin-right: 10px;

  fill: currentColor;
}
