.navigation {
  @extend %flex-centered;
}
.navigation__list {
  @extend %flex-centered;
  margin-left: 93px;
}
.navigation__item:not(:last-child) {
  margin-right: 50px;
}
.header__contacts {
  display: flex;
  margin-left: auto;
}
.contacts__item:not(:last-child) {
  margin-right: 50px;
}
