.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $footer-background;
}
.footer__wrap {
  @extend %flex-centered;
}

.footer__contacts {
  margin-right: 70px;
}

.footer__social {
  margin-top: 12px;
  margin-right: 93px;
}

.footer__text {
  margin-bottom: 20px;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: $logo-footer;
}
