.main-heading {
  width: 696px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
  text-transform: uppercase;
  text-align: center;

  color: $primary-heading-color;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}
.section-heading {
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;

  color: $secondary-heading-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.sub-section-heading {
  margin-top: 0px;
  margin-bottom: 10px;
  text-transform: uppercase;

  color: $secondary-heading-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.team-member {
  margin-top: 0px;
  margin-bottom: 10px;

  color: $secondary-heading-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.project-heading {
  margin-top: 0;
  margin-bottom: 4px;

  color: $secondary-heading-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
