.header-link:hover,
.header-link:focus,
.header-link.current,
.contact-footer:hover,
.contact-footer:focus,
.address:hover,
.address:focus {
  color: $accent-color;
}
.clients-thumb:hover,
.clients-thumb:focus {
  color: $accent-color;
  border-color: $accent-color;
}
.social-links-item.team:hover,
.social-links-item.team:focus,
.social-links-item.footer:hover,
.social-links-item.footer:focus {
  background-color: $accent-color;
  color: $address-color;
}
