$primary-heading-color: #ffffff;
$secondary-heading-color: #212121;
$link-color: #212121;
$logo-color: #2196f3;
$logo-header: #000000;
$logo-footer: #ffffff;
$contact-header-color: #757575;
$contact-footer-color: rgba(255, 255, 255, 0.6);
$address-color: #ffffff;
$main-text-color: #757575;
$background-color: #ffffff;
$footer-background: #2f303a;
$team-background: #f5f4fa;
$accent-color: #2196f3;
$icons-color: #afb1b8;
